// Rotate for image
@mixin rotate ($deg) {
	-moz-transform: rotate($deg); /* Для Firefox */
    -ms-transform: rotate($deg); /* Для IE */
    -webkit-transform: rotate($deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate($deg); /* Для Opera */
    transform: rotate($deg);
}
