@charset "UTF-8";
/*GENERAL*/
html {
  min-height: 100%;
  padding-bottom: 65px;
  height: auto;
  position: relative; }

body {
  font-family: "PT Sans", sans-serif;
  background-color: #ececec; }

/*HEPLERS*/
.main_content {
  width: 1203px;
  display: table;
  margin: auto; }

.full_screen {
  display: table;
  width: 100%; }

.full {
  display: none; }

.left {
  float: left; }

.right {
  float: right; }

.full_green {
  width: 100%;
  background-color: #9dcb20;
  color: #fff;
  text-align: center;
  padding: 40px 0px;
  text-transform: uppercase; }
  .full_green h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 200; }

.full_blue {
  width: 100%;
  background-color: #073559;
  color: #fff;
  text-align: center; }
  .full_blue h3 {
    font-size: 34px; }

.big_blue {
  padding: 30px 0px; }

.texts {
  width: 1203px;
  overflow: hidden;
  display: table;
  margin: auto;
  padding: 35px 30px;
  font-size: 22px;
  color: #222; }
  .texts .left_text,
  .texts .right_text {
    display: inline-block;
    width: 47%;
    text-align: justify; }
  .texts .right_text {
    float: right; }
  .texts .left_text {
    float: left; }

.container_main {
  padding-top: 0;
  width: 75%;
  min-width: 745px;
  position: relative;
  overflow: auto;
  height: 100%;
  margin-left: 20%; }

.admin_main_content {
  width: 100%;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 2px 3px 7px #757171;
  padding: 25px 30px 30px 25px; }

.admin_uni_heading {
  font-size: 24px;
  color: #9dcb20;
  margin-left: 25px; }

.admin_uni_label {
  font-size: 16px;
  font-weight: bold;
  color: #222; }

.admin_uni_label > i {
  margin-right: 5px; }

.hidden {
  display: none; }

/*HIDE STANDART UPLOAD*/
.browse_img_admin {
  visibility: hidden; }

.uni_display {
  display: inline-block; }

/* FLOATS */
.fl {
  float: left; }

.fr {
  float: right; }

/*BUTTONS*/
.exit_btn {
  color: red;
  background: blue;
  font-size: 18px;
  border-color: blue; }
  .exit_btn:hover, .exit_btn:focus, .exit_btn.focus {
    color: red;
    background: #0000cc;
    border-color: #0000c2; }

.auth_btn {
  color: red;
  background: blue;
  font-size: 18px;
  border-color: blue; }
  .auth_btn:hover, .auth_btn:focus, .auth_btn.focus {
    color: red;
    background: #0000cc;
    border-color: #0000c2; }

.submit_btn {
  color: yellow;
  background: green;
  font-size: 18px;
  border-color: green;
  margin-top: 5%; }
  .submit_btn:hover, .submit_btn:focus, .submit_btn.focus {
    color: yellow;
    background: #004d00;
    border-color: #004300; }

.more_btn {
  color: #fff;
  background: #0b5188;
  font-size: 24px;
  border-color: #0b5188;
  display: table;
  margin: auto;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px; }
  .more_btn:hover, .more_btn:focus, .more_btn.focus {
    color: #fff;
    background: #073559;
    border-color: #062f50; }

.contact_us_btn {
  color: #fff;
  background: #9dcb20;
  font-size: 16px;
  border-color: #9dcb20;
  font-weight: 400;
  padding: 3px 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-transform: uppercase;
  /* Для Firefox */
  -ms-transform: rotate(270deg);
  /* Для IE */
  -webkit-transform: rotate(270deg);
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(270deg);
  position: fixed;
  left: -92px;
  top: 55%; }
  .contact_us_btn:hover, .contact_us_btn:focus, .contact_us_btn.focus {
    color: #fff;
    background: #7b9f19;
    border-color: #749618; }
  .contact_us_btn .fa {
    margin-left: 20px; }

.sort_btn {
  color: #fff;
  background: #0b5188;
  font-size: 24px;
  border-color: #0b5188;
  display: table;
  margin: auto; }
  .sort_btn:hover, .sort_btn:focus, .sort_btn.focus {
    color: #fff;
    background: #073559;
    border-color: #062f50; }

.admin_uni_button {
  background-color: #9dcb20;
  color: #fff;
  font-size: 16px; }

/*FLASH MESSAGES*/
/*MESSAGE*/
.message {
  width: 1012px;
  position: relative;
  top: 15px;
  display: table;
  margin: auto;
  font-size: 21px;
  z-index: 101; }

.alert {
  padding: 2px; }

.message_text {
  display: table;
  margin: auto;
  text-align: center; }

.close {
  margin-top: 6px;
  margin-right: 30px; }

.close_message {
  position: absolute;
  right: -5px; }

/*LOGIN*/
.login_section {
  height: 700px;
  display: table;
  margin: auto; }

.login_section h2.admin_area {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px; }

.login_section img.admin_warning {
  display: block;
  margin: auto;
  margin-top: 50px; }

.login_section input.admin_input {
  width: 300px;
  font-size: 24px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px; }

.login_section input.login_button_1 {
  width: 100px;
  margin: auto;
  margin-top: 40px;
  font-weight: bold;
  display: block; }

/*MODAL*/
.jBox-container {
  width: auto;
  height: auto;
  background: #fff;
  padding: 10px;
  font-family: "PT Sans", sans-serif; }
  .jBox-container .jBox-title {
    font-size: 16px;
    color: #cec;
    background: red; }
  .jBox-container .jBox-content {
    display: table;
    margin: auto;
    width: auto !important;
    height: auto !important; }

/*HEADER*/
header {
  background-color: #222;
  color: #eee;
  padding-top: 5px;
  padding-bottom: 5px; }

.header_top {
  width: 78%;
  display: table;
  margin-left: 19%; }

.admin_header_btn_group button {
  border: 0px; }

.admin_to_site {
  display: inline-block;
  float: left; }

.admin_exit {
  display: inline-block;
  float: right; }
  .admin_exit .fa-user {
    margin-right: 5px; }

.admin_header_btn_group {
  min-width: 163px; }
  .admin_header_btn_group > button {
    background-color: #222;
    color: #eee;
    min-width: 177px; }
    .admin_header_btn_group > button:focus {
      background-color: #222;
      color: #eee; }
    .admin_header_btn_group > button:hover, .admin_header_btn_group > button:active {
      background-color: #555555;
      color: #eee; }

.admin_header_link {
  font-weight: bold;
  text-decoration: none;
  color: #eee;
  padding-right: 57px; }
  .admin_header_link:hover {
    background-color: #555555;
    text-decoration: none;
    color: #eee; }
  .admin_header_link:focus {
    font-weight: bold;
    text-decoration: none;
    color: #eee; }

.btn-exit {
  margin-left: 15px;
  background-color: #555555;
  margin-bottom: 0;
  padding-bottom: 0; }
  .btn-exit:hover {
    color: #9dcb20; }

.btn_link {
  margin-left: 0; }

.open > .dropdown-toggle.btn-default {
  background-color: #555555;
  color: #eee;
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; }
.open > .dropdown-menu {
  background-color: #555555;
  margin-top: 0;
  border: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  min-width: 177px; }
  .open > .dropdown-menu > li {
    display: inline-block; }
    .open > .dropdown-menu > li > a {
      padding: 2px 9px;
      color: #eee; }
      .open > .dropdown-menu > li > a:hover {
        color: #9dcb20;
        background-color: transparent; }

/*HEADER*/
.main {
  background-image: url(../img/layout/pattern007.png);
  margin-top: 1px; }

#carousel_estate .carousel-inner .item img {
  display: table;
  margin: auto;
  min-height: 350px;
  max-height: 350px;
  min-width: 100%; }
#carousel_estate .carousel-inner .item .carousel-caption {
  text-align: right;
  top: -1%;
  right: 7%;
  color: #fff;
  font-weight: 200;
  text-shadow: none; }
  #carousel_estate .carousel-inner .item .carousel-caption h3 {
    margin-top: 10px; }
#carousel_estate .fa {
  position: absolute;
  top: 50%; }

.map_full {
  background-image: url(../img/layout/pattern007.png);
  width: 100%;
  float: left; }

.map {
  width: 1203px;
  display: table;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  background-image: url(../img/layout/pattern007.png); }
  .map .results_heading {
    font-size: 36px;
    color: #222;
    text-transform: uppercase;
    font-weight: 300; }
  .map a {
    color: #073559;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer; }
    .map a:hover {
      text-decoration: none; }
  .map i {
    margin-right: 20px; }
  .map .map_container {
    display: none;
    margin-top: 20px;
    background-color: red;
    height: 500px; }

.full_blue {
  width: 100%;
  background-color: #073559;
  padding-top: 30px;
  padding-bottom: 30px;
  float: left; }
  .full_blue .more_btn {
    margin-top: 0;
    background-color: #9dcb20; }
    .full_blue .more_btn:hover {
      background-color: #7b9f19; }

.pre_footer_full {
  background-image: url(../img/layout/pattern007.png);
  width: 100%;
  float: left; }

.pre_footer {
  background-image: url(../img/layout/footer007.png);
  background-repeat: repeat-x;
  background-position: center top;
  height: 300px; }

.catalog_full {
  background-image: url(../img/layout/pattern007.png);
  width: 100%;
  float: left; }

.catalog_blocks {
  width: 1203px;
  display: table;
  margin: auto;
  overflow: auto;
  background-color: #fff;
  background-image: url(../img/layout/pattern007.png); }

.load_more {
  padding-bottom: 10px; }
  .load_more .loader {
    display: inline-block;
    display: none;
    margin: auto; }
  .load_more .loader_img {
    display: table;
    margin: auto; }

.one_item {
  width: 27%;
  background-color: #d9e7f1;
  margin-bottom: 5%;
  padding: 10px 0px 25px 0px;
  margin-left: 6%;
  float: left; }
  .one_item .img {
    background-color: #d9e7f1;
    max-width: 100%;
    max-height: 225px;
    min-width: 100%;
    min-height: 225px;
    display: table;
    margin: auto;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }
    .one_item .img:before, .one_item .img:after {
      content: " ";
      display: table; }
    .one_item .img:after {
      clear: both; }
    .one_item .img .add_to,
    .one_item .img .added_to {
      margin-top: 3px;
      font-size: 16px;
      color: #073559; }
      .one_item .img .add_to a,
      .one_item .img .added_to a {
        display: inline-block;
        vertical-align: top;
        margin-top: 16px;
        margin-bottom: 0;
        color: #073559;
        cursor: pointer; }
        .one_item .img .add_to a:hover,
        .one_item .img .added_to a:hover {
          color: #073559;
          text-decoration: none; }
    .one_item .img .fa {
      color: #073559;
      /* position: absolute; */
      /* top: 0px; */
      /* right: 20px; */
      margin-top: -6px;
      margin-right: 20px;
      float: left; }
    .one_item .img .added_to {
      display: none; }
  .one_item .item_img {
    max-width: 100%;
    max-height: 225px;
    display: table;
    margin: auto; }
  .one_item .item_title {
    font-weight: 600;
    overflow: hidden;
    color: #073559;
    font-size: 36px;
    margin-left: 15px; }
    .one_item .item_title a {
      color: inherit;
      cursor: pointer; }
      .one_item .item_title a:hover {
        text-decoration: none; }
  .one_item .short_title .second {
    font-size: 24px;
    min-height: 30px;
    max-height: 30px; }
  .one_item .short_descr {
    position: relative; }
    .one_item .short_descr .item_descr {
      overflow: hidden;
      max-height: 100px;
      min-height: 100px; }
      .one_item .short_descr .item_descr:before {
        content: "";
        display: block;
        position: relative;
        z-index: 2;
        height: 20px;
        top: 80px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #d9e7f1 75%); }
      .one_item .short_descr .item_descr:hover + .full {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        background-color: #d9e7f1;
        height: auto;
        width: auto;
        max-height: initial; }
        .one_item .short_descr .item_descr:hover + .full:before {
          visibility: hidden; }
    .one_item .short_descr .full:hover {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 10;
      background-color: #d9e7f1;
      height: auto;
      width: auto;
      max-height: initial; }
      .one_item .short_descr .full:hover:before {
        visibility: hidden; }
  .one_item .item_descr {
    font-size: 14px;
    color: #222;
    padding-bottom: 10px; }
    .one_item .item_descr table {
      margin-left: 15px; }
      .one_item .item_descr table td {
        padding-right: 20px; }
  .one_item .price {
    overflow: hidden;
    display: table;
    margin: auto; }
  .one_item .item_price {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    float: left; }
  .one_item .item_currency {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    float: right;
    text-transform: uppercase;
    margin-top: 12px;
    margin-left: 10px; }

.more_item {
  margin-bottom: 5%;
  font-size: 25px; }
  .more_item .fa {
    margin-left: 5%;
    margin-right: 5%;
    display: none; }

.filters_full {
  background-color: #9dcb20;
  float: left;
  width: 100%; }

.filters {
  width: 1203px;
  display: table;
  margin: auto;
  padding: 50px 40px 13px 40px;
  min-height: 477px; }
  .filters h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 30px;
    margin-top: 0; }
  .filters .btn-group .buttons {
    font-size: 24px;
    font-weight: 300;
    padding: 0 50px 0 56px; }
    .filters .btn-group .buttons:active, .filters .btn-group .buttons:focus, .filters .btn-group .buttons:hover {
      outline: none; }
  .filters .btn-group .active {
    background-color: #e6e6e6;
    border-color: #adadad;
    outline: none; }

.filters_label {
  color: #fff;
  font-size: 24px;
  font-weight: 200; }

.selects {
  overflow: hidden; }

.select_type {
  width: 250px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 29px;
  vertical-align: super; }

.select_place {
  width: 430px; }

.city_and_district {
  float: right;
  width: 650px; }

.type_and_period {
  display: inline-block;
  overflow: hidden;
  width: 100%; }

.type,
.period {
  display: inline-block; }

.type {
  float: right;
  margin-right: 181px; }
  .type .select_type {
    margin-left: 65px; }

.period {
  margin-left: 49px;
  width: 649px;
  margin-top: 30px; }
  .period .select_period {
    width: 430px;
    float: right; }

.district {
  margin-top: 30px; }

.select_city,
.select_district {
  float: right; }

.draggers {
  margin-top: 25px; }

.filter_heading {
  color: #fff;
  font-size: 20px;
  font-weight: 200; }

.more_filters, .less_filters {
  text-decoration: underline;
  color: #073559;
  font-size: 24px;
  font-weight: 200;
  cursor: pointer;
  display: table;
  margin: auto; }

.less_filters {
  opacity: 0; }

.first_line,
.second_line {
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; }

.second_line {
  height: 0;
  padding: 0; }

.house_area,
.yard_area,
.price,
.rooms,
.sea_dist {
  width: 29%;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block; }
  .house_area input[type='text'],
  .yard_area input[type='text'],
  .price input[type='text'],
  .rooms input[type='text'],
  .sea_dist input[type='text'] {
    width: 80px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: super; }
  .house_area span,
  .yard_area span,
  .price span,
  .rooms span,
  .sea_dist span {
    color: #fff; }

.sea_dist .filter_heading {
  text-align: left; }

.price .filter_heading {
  text-align: left; }

.rooms .filter_heading {
  text-align: left; }

.house_area_slider,
.yard_area_slider,
.price_slider,
.rooms_slider,
.sea_dist_slider {
  margin-top: 30px; }

.noUi-horizontal {
  height: 9px; }

.noUi-background {
  background: #fff; }

.noUi-connect {
  background: #073559; }

.noUi-horizontal .noUi-handle {
  width: 28px;
  height: 28px;
  left: -17px;
  top: -11px;
  border-radius: 15px; }

.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 11px;
  width: 1px;
  background: #E8E7E6;
  left: 11px;
  top: 8px; }

.noUi-handle:after {
  left: 14px; }

.pagination_block {
  display: table;
  margin: auto; }

.pagination li a {
  font-size: 20px;
  background-color: #0b5188;
  color: #fff;
  border-color: #0b5188; }
  .pagination li a:hover, .pagination li a:active, .pagination li a:focus {
    background-color: #0d5fa0;
    color: #fff;
    border-color: #0d5fa0; }
.pagination .current {
  background-color: #0d5fa0;
  color: #fff;
  border-color: #0d5fa0; }

.filters_full {
  float: none;
  display: inline-block; }
  .filters_full .filters {
    margin: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
    .filters_full .filters select {
      width: 66%; }
    .filters_full .filters .select_type {
      width: 250px; }
    .filters_full .filters .btn-group {
      margin-bottom: 30px; }
    .filters_full .filters .city_and_district {
      float: left; }
    .filters_full .filters .type {
      float: left !important; }
      .filters_full .filters .type .select_type {
        margin-left: 73px !important; }
    .filters_full .filters .period {
      margin-left: 0; }
  .filters_full .draggers .filters_label {
    font-size: 14px; }
  .filters_full .house_area input[type='text'], .filters_full .yard_area input[type='text'], .filters_full .price input[type='text'], .filters_full .rooms input[type='text'], .filters_full .sea_dist input[type='text'] {
    width: 65px; }

.results_heading {
  font-size: 36px;
  color: #222;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center; }

.catalog_full,
.catalog_blocks {
  width: 100%;
  background: transparent; }

.one_item {
  width: 30%;
  margin-left: 1%; }

/*LEFT SIDEBAR*/
.admin_sidebar_container {
  width: 15%;
  min-width: 185px;
  float: left;
  overflow: auto;
  position: absolute;
  top: 0px;
  background-color: #222;
  height: 97%;
  min-height: 500px; }

.sidebar_fix {
  position: fixed;
  top: 0;
  width: 15%; }

.admin_sidebar_button {
  color: #eee;
  font-size: 16px;
  padding: 10px 7px 10px 15px;
  display: block; }
  .admin_sidebar_button:hover {
    background-color: #555555;
    text-decoration: none;
    color: #eee; }
  .admin_sidebar_button:focus {
    background-color: #9dcb20;
    text-decoration: none;
    color: #eee;
    outline: none; }
  .admin_sidebar_button i {
    margin-right: 10px; }

.active_my {
  background-color: #9dcb20;
  text-decoration: none;
  color: #eee; }
  .active_my:hover {
    background-color: #7b9f19;
    text-decoration: none;
    color: #eee; }

/*FOOTER*/
footer {
  background-color: #9dcb20;
  height: 3%;
  min-height: 65px;
  padding-top: 20px;
  position: absolute;
  bottom: 0px;
  width: 100%; }

.copy_footer_admin {
  display: table;
  margin: auto; }

.copy_footer_admin a img {
  float: right;
  margin-left: 10px;
  margin-top: 2px; }

/*MAIN_PAGE*/
.icon {
  display: inline-block;
  width: 20%;
  margin-right: 2%;
  margin-left: 2%;
  background-color: #9dcb20;
  color: #222;
  margin-bottom: 50px;
  font-size: 18px; }
  .icon:hover {
    background-color: #222; }
  .icon a {
    display: block;
    color: #222;
    text-align: center; }
    .icon a:hover {
      color: #fff;
      text-decoration: none; }
  .icon .active_my {
    color: #fff; }

.active_icon_block {
  background-color: #222; }
  .active_icon_block .active_my {
    color: #fff;
    background-color: #222; }

.admin_panel_btn {
  color: #fff;
  background: #9dcb20;
  font-size: 24px;
  border-color: #7b9f19;
  display: table;
  margin: auto; }
  .admin_panel_btn:hover, .admin_panel_btn:focus, .admin_panel_btn.focus {
    color: #fff;
    background: #7b9f19;
    border-color: #526a11; }

.alt_variant,
.contact_support_heading {
  text-align: center;
  color: #9dcb20;
  font-size: 15px;
  margin-top: 15px; }

.contact_support_heading {
  font-size: 24px; }

/* ADD_ESTATE & ADD_ESTATE */
/* Add_Estate & Change_Estate */
.display_block_width {
  display: inline-block;
  width: 61%; }

.label_form {
  font-size: 15px;
  vertical-align: top;
  margin-bottom: 20px; }

.input_form {
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 5px 2px 5px; }

.input_select_width {
  width: 81%; }

.label_estate_width {
  width: 19%; }

.width_label_uni {
  width: 55%; }

.estate_blocks {
  overflow: hidden; }

.estate_block_width {
  width: 34%; }

.estate_select_width {
  width: 44%; }

.period_block {
  display: none; }

.period_form,
.price_form {
  width: 34%;
  overflow: hidden; }
  .period_form .label_uni_marg,
  .price_form .label_uni_marg {
    float: left;
    margin-right: 0; }
  .period_form .estate_select_width,
  .price_form .estate_select_width {
    float: right; }

.label_uni_marg {
  margin-right: 6px; }

.estate_present {
  margin: 15px 0 15px 0; }

.label_form_present {
  font-weight: 400;
  font-size: 15px;
  margin-right: 23px;
  vertical-align: top; }

.district {
  margin-top: 0; }

/* DROPZONE */
.dropzone_form_block {
  min-height: 200px; }

.title_dropzone {
  text-align: center;
  margin: 1em 0;
  font-weight: bold;
  font-size: 25px;
  color: #646C7F;
  cursor: pointer; }

.form_dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px; }

.title_dropzone_form {
  margin: 20px 0 20px 0;
  font-weight: bold;
  color: #333;
  font-size: 15px; }

/* ADD_ARTICLE & CHANGE_ARTICLE */
/* Articles & Change_article */
/* Add_article have style in add_estate.scss */
.form_block_marg {
  margin-bottom: 20px; }

.admin_article_style {
  font-size: 17px;
  color: #9dcb20;
  cursor: pointer; }
  .admin_article_style:hover {
    text-decoration: none;
    color: #212121;
    cursor: pointer; }

.article_image {
  max-width: 300px;
  max-height: 225px; }

.article_one_block {
  width: 300px; }

.article_one_block {
  margin-bottom: 25px;
  height: 311px; }

.article_block_title {
  width: 300px;
  padding: 5px; }

.admin_article_title {
  font-size: 20px;
  color: #333; }
  .admin_article_title:hover {
    color: #333; }

.article_image {
  display: table;
  margin: auto; }

.block_img {
  background-color: #ececec;
  max-width: 300px;
  max-height: 225px;
  min-width: 300px;
  min-height: 225px; }

.article_columns {
  margin-right: 4px;
  margin-left: 4px; }

.article_center {
  display: table;
  margin: auto; }

.description_block_uni {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  font-size: 16px; }
  .description_block_uni i {
    color: #9dcb20;
    cursor: pointer; }

/* ADD_DISTRICTS & ADD TOWNS */
/* TOWNS & DISTRICT */
/* For all */
.block_marg {
  margin: 10px 0 0 15px; }

.block_bottom_marg {
  margin-bottom: 20px; }

.title_uni {
  font-size: 18px;
  font-weight: bold; }

.block_main_uni {
  width: 100%;
  background: #ececec;
  padding: 10px; }

/* Town */
.block_size {
  width: 215px; }

.admin_town_style {
  font-size: 17px;
  color: #9dcb20;
  cursor: pointer; }

.description_block_uni {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  font-size: 16px; }
  .description_block_uni li {
    text-decoration: none;
    display: block;
    overflow: hidden; }
  .description_block_uni p {
    text-decoration: underline; }
  .description_block_uni i {
    color: #9dcb20;
    cursor: pointer; }

.select_town {
  height: 34px; }

/* district */
.districts_block {
  margin-top: 15px;
  vertical-align: middle; }

/* POPUP Style */
.popup_input {
  width: 325px; }

.popup_label {
  width: 120px; }

.uni_popup_block {
  display: none; }

.uni_title_popup {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 20px;
  color: #9dcb20; }
