@font-face {
  font-family: "Newscycle";
  src: url(../fonts/Newscycle/newscycle-regular.ttf); }

/*------------------------------------------------
| Sticky footer
------------------------------------------------*/
footer {
  height: 40px;
  position: absolute;
  /* relatively to body */
  bottom: 0;
  width: 100%;
  /* for margin: auto; to work in footer */ }

body {
  padding-bottom: 40px;
  /* when content > screen */
  height: auto;
  /* when content > screen */
  min-height: 100%;
  /* when content < screen */
  position: relative;
  /* for footer_absolute */ }

html {
  height: 100%; }

/*----------------------------------------------*/
body {
  background: #FDFFFC; }

header {
  overflow: hidden;
  color: white;
  height: 275px;
  line-height: 40px; }
  header img.font_image {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -100;
    top: 0px;
    left: 0px;
    -webkit-filter: blur(5px);
            filter: blur(5px); }
  header .content {
    margin-top: 10px;
    padding: 0px 100px; }
    header .content img.lse_logo {
      height: 200px;
      margin-top: 20px;
      float: left; }
    header .content h1.header_title {
      float: right;
      text-align: center;
      width: 760px;
      margin-top: 50px;
      font-weight: bold;
      font-family: "Newscycle";
      font-size: 65px;
      text-shadow: #2e2e2e 5px 5px 10px; }

.main_page {
  margin-top: 10px; }

footer {
  text-align: center;
  color: #cecece;
  background: #0d0d0d;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0; }

.stocks {
  margin-top: 20px; }
  .stocks thead tr {
    background: #B8C6DA; }

.message .message_text, .message .error_message {
  text-align: center;
  font-size: 18px; }

.delete_stock {
  cursor: pointer; }
