.article_page {
	.full_green {
		padding: 20px 0;
	}
}
.article_header_content {
	width: $main_width;
	display: table;
	margin: auto;
}
.heading_title {
	margin-top: 10px;
}
.article_date {
	margin: 10px 0 10px 0;
	overflow: hidden;
}
.date {
	float: left;
	font-size: 24px;
	color: $main_black;
	font-style: italic;
	margin-bottom: 0;
	margin-top: 7px;
}
.article_main_title {
	font-size: 30px;
	color: $main_black;
	display: inline-block;
	margin-bottom: 0;
	text-transform: none;
	font-weight: bold;
	// float: left;
	// margin-left: 135px;
	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}
.article {
	width: $main_width;
	display: table;
	margin: auto;
	padding: 45px 30px;
	font-size: 22px;
	color: $main_black;
	.to_all {
		margin-top: 10px;
		a {
			color: $main_blue;
			cursor: pointer;
		}
	}
}