.contact_form_submit {
	display: none;
}
$form_color: #dee6cc;
// on page
.form_block_on_page {
	// background-color: #fff;
	// position: relative;
	h3 {
		text-transform: uppercase;
		font-size: 36px;
	}
	.form_hr {
		color: $form_color;
		border: 1px solid $form_color;
		margin-bottom: 15px;
	}
	.form {
		padding: 0px 47px 40px 40px;
		.name,
		.phone,
		.email,
		.name,
		.subject,
		.text_message {
			margin-bottom: 15px;
			position: relative;
			input,
			select,
			textarea {
				background-color: $form_color;
				border-color: $form_color;
				font-family: $main_font;
				color: $main_black;
				font-weight: 200;
				padding-left: 20px;
			}
			textarea {
				height: 100px;
			}
			.fa {
				color: $main_green;
				position: absolute;
				font-size: 11px;
			}

		}
		.select,
		.phone,
		.email,
		.name {
			width: 48%;
			display: inline-block;
			.fa {
				top: 12px;
				left: 8px;
			}
		}
		.select,
		.email {
			float: left;
		}
		.phone,
		.name {
			float: right;
		}
		.subject {
			width: 100%;
			overflow: auto;
			.fa {
				top: 13px;
				left: 8px;
			}
		}	
		.text_message {
			.fa {
				top: 12px;
				left: 8px;
			}
		}
		.send {
			background-color: $main_green;
			display: inline-block;
			float: right;
			padding: 5px 10px;
			position: relative;
			top: -61px;
			right: 7px;
			&:hover {
				color: #fff;
				background-color: darken($main_green, 10%);
			}
			.fa {
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

// on page small
.form_block_small_on_page {
	border: 1px solid $form_color;
	padding: 20px 45px 25px 40px;
	h3 {
		margin-top: 5px;
		text-align: center;
		font-size: 36px;
		font-weight: 200;
		margin-bottom: 5px;
	}
	.form_hr {
		color: $form_color;
		border: 1px solid $form_color;
		margin-bottom: 15px;
	}
	.phone,
	.email,
	.name,
	.text_message {
		margin-bottom: 15px;
		position: relative;
		input,
		textarea {
			background-color: $form_color;
			border-color: $form_color;
			font-family: $main_font;
			color: $main_black;
			font-weight: 200;
			padding-left: 20px;
		}
		textarea {
			height: 150px;
		}
		.fa {
			color: $main_green;
			position: absolute;
			font-size: 11px;
		}

	}
	.phone,
	.email,
	.name {
		// width: 100%;
		// display: inline-block;
		.fa {
			top: 12px;
			left: 8px;
		}
	}
	.text_message {
		overflow: auto;
		.fa {
			top: 12px;
			left: 8px;
		}
	}
	.send {
		background-color: $main_green;
		display: inline-block;
		float: right;
		padding: 5px 10px;
		position: relative;
		top: -55px;
		right: 7px;
		color: #fff;
		&:hover {
			color: #fff;
			background-color: darken($main_green, 10%);
		}
		.fa {
			&:hover {
				color: #fff;
			}
		}
	}
}

// on pop up
.form_block {
	h3 {
		text-align: center;
		font-size: 30px;
		font-weight: 200;
		margin-top: 0;
	}
	.form_hr {
		color: $form_color;
		border: 1px solid $form_color;
		margin-bottom: 15px;
	}
	.form {
		padding: 0px 45px;
		.name,
		.phone,
		.email,
		.company,
		.subject,
		.text_message {
			margin-bottom: 15px;
			position: relative;
			input,
			textarea {
				background-color: $form_color;
				border-color: $form_color;
				font-family: $main_font;
				color: $main_black;
				font-weight: 200;
				padding-left: 20px;
			}
			textarea {
				height: 100px;
			}
			.fa {
				color: $main_green;
				position: absolute;
				font-size: 11px;
			}

		}
		.name,
		.phone,
		.email,
		.company {
			width: 48%;
			display: inline-block;
			.fa {
				top: 12px;
				left: 8px;
			}
		}
		.name,
		.email {
			float: left;
		}
		.phone,
		.company {
			float: right;
		}
		.subject {
			width: 100%;
			overflow: auto;
			.fa {
				top: 13px;
				left: 8px;
			}
		}	
		.text_message {
			margin-bottom: 0;
			.fa {
				top: 12px;
				left: 8px;
			}
		}
		.send {
			background-color: $main_green;
			display: inline-block;
			float: right;
			padding: 5px 10px;
			position: relative;
			top: -48px;
			right: 7px;
			&:hover {
				color: #fff;
				background-color: darken($main_green, 10%);
			}
			.fa {
				color: #fff;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}