.main_content {
	width: $main_width;
	display: table;
	margin: auto;
}
.full_screen {
	display: table;
	width: 100%;
}
.full {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.full_green {
	width: 100%;
	background-color: $main_green;
	color: #fff;
	text-align: center;
	padding: 40px 0px;
	text-transform: uppercase;
	h1 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 36px;
		font-weight: 200;
	}
}
.full_blue {
	width: 100%;
	background-color: $main_blue;
	color: #fff;
	text-align: center;
	h3 {
		font-size: 34px;
	}
}
.big_blue {
	padding: 30px 0px;
}
.texts {
	width: $main_width;
	overflow: hidden;
	display: table;
	margin: auto;
	padding: 35px 30px;
	font-size: 22px;
	color: $main_black;
	.left_text,
	.right_text {
		display: inline-block;
		width: 47%;
		text-align: justify;
	}
	.right_text {
		float: right;
	}
	.left_text {
		float: left;
	}
}
.uni_display {
	display: $display;
	vertical-align: middle;
}