.main {
	// background-color: $main_green;
	background-image: url(../img/layout/pattern007.png);
	margin-top: 1px;
}
#carousel_estate {
	// width: $main_width;
	// display: table;
	// margin: auto;
	.carousel-inner {
		.item {
			img {
				display: table;
				margin: auto;
				min-height: 350px;
				max-height: 350px;
				min-width: 100%;
			}
			.carousel-caption {
				text-align: right;
				top: -1%;
				right: 7%;
				color: #fff;
				font-weight: 200;
				text-shadow: none;
				font-family: $main_font;
				h3 {
					margin-top: 10px;
					font-family: $main_font;
				}
				h1 {
					font-family: $main_font;
				}
			}
		}
	}
	.fa {
		position: absolute;
		top: 50%;
	}
}
.map_full {
	background-image: url(../img/layout/pattern007.png);
	width: 100%;
	float: left;
}
.map {
	width: $main_width;
	display: table;
	margin: auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	background-image: url(../img/layout/pattern007.png);
	.results_heading {
		font-size: 36px;
		color: $main_black;
		text-transform: uppercase;
		font-weight: 300;
	}
	a {
		color: $main_blue;
		font-size: 24px;
		font-weight: 300;
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
	}
	i {
		margin-right: 20px;
	}
	.map_container {
		// visibility: hidden;
		// display: none;
		margin-top: 20px;
		background-color: transparent;
		height: 500px;
	}
}
.full_blue {
	width: 100%;
	background-color: $main_blue;
	// height: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	float: left;
	.more_btn {
		margin-top: 0;
		background-color: $main_green;
		// color: $main_black;
		&:hover {
			background-color: darken($main_green, 10%);
			// color: #fff;
		}
	}
}
.pre_footer_full {
	background-image: url(../img/layout/pattern007.png);
	width: 100%;
	float: left;
}
.pre_footer {
	// img {
	// 	display: table;
	// 	margin: auto;
	// }
	background-image: url(../img/layout/footer007.png);
	background-repeat: repeat-x;
	background-position: center top;
	height: 300px;
}

