// Alternate navbars
// --------------------------------------------------
// VARS



// Default navbar
.navbar-default {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;

  .navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    // UNCOMMENT TO STYLE DISABLED

    // > .disabled > a {
    //   &,
    //   &:hover,
    //   &:focus {
    //     color: $navbar-default-link-disabled-color;
    //     background-color: $navbar-default-link-disabled-bg;
    //   }
    // }
  }

  //UNCOMMENT TO STYLE TOGGLE

  // .navbar-toggle {
  //   border-color: $navbar-default-toggle-border-color;
  //   &:hover,
  //   &:focus {
  //     background-color: $navbar-default-toggle-hover-bg;
  //   }
  //   .icon-bar {
  //     background-color: $navbar-default-toggle-icon-bar-bg;
  //   }
  // }

  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-default-link-color;
    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
    }
    // &[disabled],
    // fieldset[disabled] & {
    //   &:hover,
    //   &:focus {
    //     color: $navbar-default-link-disabled-color;
    //   }
    // }
  }
}




