// CORE
$browser-prefixes: true !default;
@import "assets/juice";
// MIXINS
@import "assets/mixins";
// BOOTSTRAP(IF NEEDED)

// VARIABLES
@import "assets/variables";
// GENERAL
/*GENERAL*/
body {
	font-family: $main_font;
}
// HELPERS
/*HEPLERS*/
@import "assets/helpers";
@import "assets/pagination";
@import "assets/contact_form";

// BUTTONS
/*BUTTONS*/
@import "assets/buttons";

// FLASH MESSAGES
/*FLASH MESSAGES*/
@import "assets/flash_messages";

// MODAL
/*MODAL*/

// PARTIALS
// HEADER
/*HEADER*/
@import "assets/header";

// NAVBAR
/*NAVBAR*/
@import "assets/navbar";
// LEFT SIDEBAR
/*LEFT SIDEBAR*/

// RIGHT SIDEBAR
/*RIGHT SIDEBAR*/

//MAIN PAGE
/*MAIN PAGE*/
@import "assets/main_page";
@import "assets/filters";

//HOW TO
/*HOW TO*/
@import "assets/how_to";

//RENT_SALE
/*RENT_SALE*/
@import "assets/rent_sale";

//CONTACTS
/*CONTACTS*/
@import "assets/contacts";

//ARTICLES
/*ARTICLES*/
@import "assets/articles";

//ARTICLE
/*ARTICLE*/
@import "assets/article";

// CATALOG
/*CATALOG*/
@import "assets/catalog_estate";

//ESTATE
/*ESTATE*/
@import "assets/estate";

// FOOTER
/*FOOTER*/
@import "assets/footer";

