/* TOWNS & DISTRICT */

/* For all */
.block_marg {
	margin: 10px 0 0 15px;
}
.block_bottom_marg {
	margin-bottom: 20px;
}
.title_uni {
	font-size: 18px;
	font-weight: bold;
}
.block_main_uni {
	width: 100%;
	background: $bg;
	padding: 10px;
}

/* Town */
.block_size {
	width: 215px;
}
.admin_town_style  {
	font-size: 17px;
  	color: $main-green;
  	cursor: pointer;
}
.description_block_uni {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	font-size: 16px;

	li {
		text-decoration: none;
		display: block;
		overflow: hidden;
	}

	p {
		text-decoration: underline;
	}

	i {
		color: $main-green;
		cursor: pointer;
	}
}
.select_town {
	height: 34px;
}

/* district */
.districts_block {
  	margin-top: 15px;
	vertical-align: middle;
}