.block_marg {
	margin: 10px 0 0 15px;
}

.class_form {
	float: right;
	margin-left: 5px;
}

.popup_input {
	width: 325px;
}

.popup_label {
	width: 120px;
}

.select_town {
	height: 34px;
}

.block_bottom_marg {
	margin-bottom: 20px;
}

.admin_town_style  {
	font-size: 17px;
  	color: $color;
  	cursor: pointer;
}

.block_size {
	width: 215px;
}

.district_block_aling {
  	margin-top: 15px;
	vertical-align: middle;
}
