$color_black: #333;

.main_block {
	overflow: auto;
}
.label_estate_width {
	width: 67px;
}
.label_class_form {
	width: 140px;
  	margin-left: 25px;
  	margin-right: 51px;
}
.commercial_estate {  
	width: 115px;
}
.input_number_form_estate {
	width: 101px;
}
.input_form_description {
	width: 530px;
}
.admin_article_style {
  	font-size: 17px;
  	color: $color;
  	cursor: pointer;
  	&:hover {
  		text-decoration: none;
  		color: $color;
  		cursor: pointer;
  	}
}
.article_image {
  	max-width: 300px;
  	max-height: 225px;
}
.article_one_block {
	width: 300px;
}
.commercial_block_marg {
	margin-right: 199px;
}
.longitude_block_marg {
	margin-right: 227px;
}
.uni_select_period_width {
	width: 165px;
}
.select_block_marg {
	margin-right: 225px;
}
.article_one_block {
	margin-bottom: 25px;
	height: 311px;
}
.article_block_title {
	width: 300px;
    padding: 5px; 

}
.admin_article_title {
	font-size: 20px;
	color: $color_black; 	
	&:hover {
		color: $color_black;
	}
}
.article_image {
	display: table;
	margin: auto;
}
.block_img {
	background-color: #ececec;
	max-width: 300px;
	max-height: 225px;
	min-width: 300px;
	min-height: 225px;
}
.period_block {
	display: none;
}
.article_columns {
	margin-right: 4px;
	margin-left: 4px;
}
.article_center {
	display: table;
	margin: auto;
}
.label_form_present {
	font-weight: 400;
	font-size: 15px;
	margin: 0 23px 15px 0;
	vertical-align: -webkit-baseline-middle;	
}

// Dropzone style
.dropzone_form_block {
	min-height: 200px;
}
.title_dropzone {
	text-align: center;
  	margin: 1em 0;
  	font-weight: bold;
  	font-size: 25px;
  	color: #646C7F;
  	cursor: pointer;
}
.form_dropzone {
	border: 2px dashed #0087F7;
  	border-radius: 5px;
}
.title_dropzone_form {
	margin: 20px 0 20px 0;
	font-weight: bold;
	color: $color_black;
	font-size: 15px;
}