$color_black: #333;

.main_block {
	overflow: auto;
}
.label_estate_width {
	width: 67px;
}
.label_class_form {
	width: 140px;
  	margin-left: 25px;
}
.commercial_estate {  
	width: 115px;
}
.input_number_form_estate {
	width: 101px;
}
.input_form_description {
	width: 530px;
}
.form_dropzone {
	border: 2px dashed #0087F7;
  	border-radius: 5px;
}
.title_dropzone {
	font-weight: bold;
	color: #333;
}
.select_place_uni {
	width: 72%;
}
.admin_article_style {
  	font-size: 17px;
  	color: $color;
  	cursor: pointer;
  	&:hover {
  		text-decoration: none;
  		color: $color;
  		cursor: pointer;
  	}
}
.article_image {
  	max-width: 300px;
  	max-height: 225px;
}
.article_one_block {
	width: 300px;
}
.article_one_block {
	margin-bottom: 25px;
	height: 311px;
}
.article_block_title {
	width: 300px;
    padding: 5px; 

}
.admin_article_title {
	font-size: 20px;
	color: $color_black; 	
	&:hover {
		color: $color_black;
	}
}
.article_image {
	display: table;
	margin: auto;
}
.block_img {
	background-color: #ececec;
	max-width: 300px;
	max-height: 225px;
	min-width: 300px;
	min-height: 225px;
}
.period_block {
	display: none;
}
.article_columns {
	margin-right: 4px;
	margin-left: 4px;
}
.article_center {
	display: table;
	margin: auto;
}