.icon {
	display: inline-block;
	width: 20%;
	margin-right: 2%;
	margin-left: 2%;
	background-color: $main_green;
	color: $main_black;
	margin-bottom: 50px;
	font-size: 22px;
	&:hover{
		background-color: $main_black;
	}
	a {
		display: block;
		color: $main_black;
		text-align: center;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	.active_my {
		color: #fff;
	}
}
.active_icon_block {
	background-color: $main_black;
	.active_my {
		color: #fff;
		background-color: $main_black;
	}
}