.popup_input {
	width: 325px;
}
.popup_label {
	width: 120px;
}
.uni_popup_block {
	display: none;
}
.uni_title_popup {
	margin-bottom: 20px;
  	margin-top: 0;
  	font-size: 20px;
  	color: #9dcb20;
}